<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="apiServer" value="https://localhost:44375/" />
		<add key="userEndpoint" value="api/users" />
		<add key="productEndpoint" value="api/users" />
		<add key="userEndpoint" value="api/users" />
	</appSettings>
		
</configuration>