<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="apiServer" value="https://localhost:44375/" />
		<add key="userEndpoint" value="api/token/login/" />
		<add key="productEndpoint" value="api/Categories" />
		<add key="subProductEndpoint" value="api/SubCategories/GetByCategory/" />
	</appSettings>
		
</configuration>